#container{
    width: 1000px;
    height: 1000px;
}
#topsection {
    width: 1000px;
    height: 10%;
    border: 5px solid black;
    text-align: center;
}

#bottomsection {
    width: 1000px;
    height: 500px;
    border: 5px solid black;
}

#bottomleft {
    width: 330px;
    height: 500px;
    float: left;
}

#bottommiddle {
    width: 670px;
    height: 500px;
    float: right;
}

#bottomright {
    width: 330px;
    height: 500px;
    float: right;
}

#lefthead {
    height: 10%;
    border: 1px solid black;
    text-align: center;
}

#middlehead {
    height: 10%;
    width: 333px;
    border: 1px solid black;
    text-align: center;
    float: left;
}

#righthead {
    height: 10%;
    width: 330px;
    border: 1px solid black;
    text-align: center;
}

#leftbody {
    height: 90%;
    text-align: center;
    border: 1px solid black;
}

#middlebody {
    height: 90%;
    text-align: center;
}

#rightbody {
    height: 90%;
    width: 333px;
    text-align: center;
    float: right;
    border: 1px solid black;
}
