
#topsection{
    width: 1000px;
    height: 10%;
    border: 5px solid black;
    text-align: center;
}
#bottomsection{
    width: 1000px;
    height: 500px;
    border: 5px solid black;
}
#bottomright {
    width: 500px;
    height: 500px;
    float: right;
    text-align: center;
}


